<!-- Search Bar -->
<app-email-search-bar (queryChanged)="searchToken$.next($event)">
</app-email-search-bar>

<ng-container *ngIf="!loading; else loader">
  <section class="emails h-100">
    <!-- List of emails -->
    <app-email-list
      [emails]="emails$ | async"
      [selectedEmail]="selectedEmail"
      (itemSelected)="selectedEmail = $event">
    </app-email-list>

    <!-- Email preview -->
    <app-email-preview
      *ngIf="selectedEmail"
      [email]="selectedEmail"
      [highlightString]="searchToken$ | async">
    </app-email-preview>
  </section>

  <section class="footer" *ngIf="summary$ | async as summary">
    <!-- Pagination bar -->
    <app-list-paginator
      [currentPage]="summary.pageNumber"
      [totalPages]="summary.totalPages"
      (pageChanged)="currentPage$.next($event)">
    </app-list-paginator>
  </section>
</ng-container>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
