:host {
  display: flex;
  flex-direction: column;
}

app-email-list {
  border-right: 1px solid #eee;
}

app-email-search-bar {
  flex: 0 0 3rem;
}

.emails {
  display: flex;
  overflow-y: auto;

  app-email-list {
    flex: 1 0 35%;
  }

  app-email-preview {
    flex: 1 1 65%;
  }
}

app-list-paginator {
  border-top: 1px solid #eee;
  flex: 0 0 3rem;
}
