.list-paginator {
  display: flex;
  align-items: center;

  > * + * {
    margin-left: 0.5rem;
  }
}

.button-group {
  display: flex;

  button {
    width: 1rem;
    height: 1rem;
    padding: 0.75rem;

    background-color: #eee;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    &:hover:not([disabled]),
    :focus:not([disabled]) {
      border-color: #aaa;
    }

    &:active {
      background-color: #fff;
    }
  }
}
