<div class="email-preview h-100">
  <span class="text-small text-muted">
    {{ email.date | date: 'medium' }}
  </span>

  <section class="email-header">
    <h2 class="email-subject">{{ email.subject || '(no subject)' }}</h2>
    <h4 class="email-sender">{{ email.from }}</h4>

    <ul class="email-receipients list-unstyled text-small text-muted">
      <li class="line">
        <span>to:</span>
        <span>{{ email.to | simpleList }}</span>
      </li>

      <li class="line" *ngIf="email.cc?.length">
        <span>cc:</span>
        <span>{{ email.cc | simpleList }}</span>
      </li>

      <li class="line" *ngIf="email.bcc?.length">
        <span>bcc:</span>
        <span>{{ email.bcc | simpleList }}</span>
      </li>
    </ul>
  </section>

  <section class="email-body">
    <pre class="text-small">{{ email.body }}</pre>
  </section>
</div>
