<ul class="email-list list-unstyled h-100">
  <li class="email-summary">
    <div class="line separated">
      <span class="email-sender text-width-lg text-wrap">
        quickbrownfox@gmail.com
      </span>
      <span>
        <span class="receipients-count text-muted text-small" title="Recipients">
          → 2
        </span>
        <span class="email-timestamp text-muted text-small">
          23 Jun
        </span>
      </span>
    </div>

    <div class="line text-muted text-small">
      <span class="email-subject text-wrap">
        a really long long long subject line
      </span>
      <span class="email-body text-wrap">
        a really long long long email body!
      </span>
    </div>
  </li>
</ul>
