.email-list {
  overflow-y: auto;

  li + li {
    border-top: 1px solid #eee;
  }
}

.email-summary {
  padding: 1rem;
  cursor: pointer;

  &:hover {
    background-color: #eee;
  }
}

.receipients-count {
  padding: 0 0.25rem;
  border: 1px solid #aaa;
  border-radius: 10px;
}

.email-subject {
  flex: 1;
}

.email-body {
  flex: 3;
}
